.home-brick {
    .home-brick-container {
        width: 1226px;
        margin: 0px auto;
        .title-row {
            display: flex;
            justify-content: space-between;
            height: 58px;
            line-height: 58px;
            .title {
                font-size: 20px;
            }
            .more {
                font-size: 20px;
            }
            .title-list {
                display: flex;
                .title-item {
                    margin-left: 20px;
                    cursor: pointer;

                    &:first-of-type {
                        margin-left: 0px;
                    }
                    .active {
                        transition: all 0.1s;
                        color: #ff6700;
                        border-bottom: 3px solid #ff6700;
                    }
                }
            }
        }
        .brick-box {
            display: flex;
            .banner-list {
                .banner-item-phone {
                    position: relative;
                    left: 0px;
                    top: 0px;
                    width: 234px;
                    height: 614px;
                    transition: all 0.2s;
                    &:hover {
                        left: 0px;
                        top: -3px;
                        box-shadow: 0px 10px 15px #d4d4d4;
                    }
                }
                .banner-item {
                    position: relative;
                    left: 0px;
                    top: 0px;
                    margin-bottom: 14px;
                    width: 234px;
                    height: 300px;
                    transition: all 0.2s;
                    &:hover {
                        left: 0px;
                        top: -3px;
                        box-shadow: 0px 10px 15px #d4d4d4;
                    }
                }
            }
            .brick-list {
                width: 992px;
                height: 614px;
                display: flex;
                flex-wrap: wrap;
                .brick-item {
                    margin-left: 14px;
                    width: 234px;
                    height: 260px;
                    box-sizing: content-box;
                    padding: 20px 0px;
                    text-align: center;
                    background: #fff;
                    font-family: "微软雅黑";
                    margin-bottom: 14px;
                    position: relative;
                    left: 0px;
                    top: 0px;
                    transition: all 0.2s;
                    a {
                        color: #000;
                    }
                    &:hover {
                        left: 0px;
                        top: -3px;
                        box-shadow: 0px 10px 15px #d4d4d4;
                    }
                    img {
                        width: 160px;
                        height: 160px;
                    }
                    .brick-title {
                        margin-top: 10px;

                        font-size: 14px;
                    }
                    .brick-summary {
                        margin-top: 10px;
                        color: #b0b0b0;
                        font-size: 10px;
                    }
                    .brick-price {
                        margin-top: 15px;
                        font-size: 14px;
                        color: #ff6700;
                    }
                }
            }
        }
    }
}
