.detail-order {
    padding-bottom: 50px;
    .detail-order-content {
        padding: 50px;
        padding-bottom: 20px;
        background: #fff;

        .box-header {
            border-bottom: 1px solid #e0e0e0;
            .title {
                color: #757575;
                font-size: 40px;
                span {
                    margin-left: 20px;
                    font-size: 14px;
                }
            }
            .order-id {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                .order-text {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                }
                .order-btns {
                    line-height: 30px;
                    .ant-btn {
                        margin-left: 10px;
                        &:first-of-type {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
        .order-steps {
            padding: 20px 0px;
            border-bottom: 1px solid #e0e0e0;
            .order-steps-title {
                font-size: 20px;
                color: #757575;
            }
            .steps-content {
                padding: 20px 0px;
            }
            .logistics {
                padding: 0px 20px;
                .logistics-content {
                    padding: 10px 0px;
                    border-bottom: 1px solid #1890ff;
                    span {
                        color: #757575;
                        margin-left: 30px;
                        &:first-of-type {
                            margin-left: 0px;
                        }
                    }
                }
            }
            .goods-list {
                margin-top: 20px;
                .goods-item {
                    display: flex;
                    align-items: center;
                    img {
                        width: 80px;
                        height: 80px;
                    }
                    span {
                        margin-left: 80px;
                        &:first-of-type {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        .receipt {
            padding: 20px 0px;
            border-bottom: 1px solid #e0e0e0;
            .receipt-title {
                font-size: 20px;
                color: #757575;
                padding-bottom: 10px;
            }
            p {
                line-height: 24px;
                .info-one,
                .info-two {
                    display: inline-block;
                    width: 100px;
                    color: #757575;
                }
                .info-one {
                    font-weight: 600;
                }
                .info-two {
                    width: auto;
                }
            }
        }
        .pay-mode {
            padding: 20px 0px;
            border-bottom: 1px solid #e0e0e0;
            .pay-mode-title {
                font-size: 20px;
                color: #757575;
            }
            .pay-mode-content {
                margin-top: 10px;
                .info-one,
                .info-two {
                    display: inline-block;
                    width: 100px;
                    color: #757575;
                }
                .info-one {
                    font-weight: 600;
                }
            }
        }
        .detail-tail {
            padding-top: 30px;
            p {
                text-align: right;
                span {
                    display: inline-block;
                    width: 160px;
                }
                .tail-one {
                    color: #757575;
                    font-weight: 600;
                }
                .tail-two {
                    color: #ff6700;
                }
                .important {
                    font-size: 30px;
                }
            }
        }
    }
}
