.category-children {
    position: absolute;
    top: -1px;
    left: 233px;
    display: none;
    border: 1px solid #ff6700;
    background-color: rgba($color: #fff, $alpha: 1);
    .category-col-list {
        width: 248px;
        height: 460px;
        .category-col-item {
            color: #424242;
            width: 248px;
            height: 76px;
            display: inline-block;
            display: flex;
            align-items: center;
            &:hover {
                color: #ff9300;
            }
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
